  <div class= "row-container">
    <%= render 'shared/lateral_menu' %>
    <div class= "index-list ">



      <div class="row">

        <div class="col-3">
          <% if current_user.status == "manager" %>
            <div class="top-box-packages-rental align-items-center" >
              <div class="top-box-info-packages">
                <%=  simple_form_for current_user.team do |f| %>
                  <%= f.input :rental_period, input_html:{min:0, max:24}, placeholder: 'n. of month' %>

                  <% f.options[:html][:class] << 'form-horizontal' %>
                  <%= f.button :submit, 'Select' %>
                <% end %>
                <form class="simple_form edit_model form-horizontal"/>
              </div>
            </div>
          <% else %>
            <div class="top-box-packages-rental align-items-center" >
              <div class="top-box-info-packages">
                <p>Rental period:</p>
                <h2><%= current_user.team.rental_period %>  months</h2>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-3">
          <div class="top-box-packages align-items-center">
            <div class="top-box-info-packages">
              <p>N. of team members:</p>
              <h2><%= @total_members %></h2>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="top-box-packages align-items-center" >
            <div class="top-box-info-packages">
              <p>Tot. expenses/month:</p>
              <h2>€<%= @total_users_expenses %></h2>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="top-box-packages align-items-center" >
            <div class="top-box-info-packages">
              <p>Team Tot. budget/month:</p>
              <h2>€<%= @total_users_budget %></h2>
            </div>
          </div>
        </div>

      </div>
            <div class="flex-item ">
        <div class="package_title">
          <h3 style="padding-bottom:25px;">Your Team: </h3>
          </div>
        </div>

      <div class="flex-item ">
        <div class="user-card row align-items-center">
            <div class="button-add-employee">
            <h2><%= link_to "+", new_user_invitation_path(params: { team_id:  current_user.team_id }) %></h2>
          </div>
          <div class="notification-content">
            <h3 style="padding-left:5%"> <%= link_to "Add new user", new_user_invitation_path(params: { team_id:  current_user.team_id }) %></h3>
          </div>
        </div>
      </div>


      <div class="flex-item ">
      <% @team.each do |user| %>

        <div class="user-card row align-items-center">
          <% if user[:user].picture.attached? %>
          <div class="button-add-employee">
            <%= cl_image_tag user[:user].picture.key, height: 136, width: 136, crop: :fill, class: "img-avatar"%>

          </div>
          <% else %>
          <div class="button-add-employee">
            <%= link_to new_user_invitation_path(params: { team_id:  current_user.team_id }), class: "team-icon" do %><i class="far fa-image"></i><% end %>
          </div>
          <% end %>
          <div class="col-3">
            <div class="notification-content">
              <p class="employee-det"><small style="color:black; font-size:18px;"><%= user[:user].firstname %> <%= user[:user].lastname %> </small></p>
              <p class="employee-det"><small><%= user[:user].email %></small></p>
            </div>
          </div>

          <div class="col-2">
            <div class="notification-content">
              <p><small style="color:black;"><%= user[:user].budget_per_month %>$</small></p>
              <% unless current_user.team.budget.nil? || current_user.team.budget.zero? %>
              <p><small> <%= ((user[:user].budget_per_month.to_f / current_user.team.budget.to_f) * 100).round %>  % of total expenses </small></p>
              <% end %>
           </div>
         </div>

        <div class="col-4">
          <div class="notification-content">
            <div class="progress" style="position:relative;">
              <% budget_used = (user[:expenses] / user[:user].budget_per_month.to_f) * 100 %>
              <div class="progress-bar" role="progressbar" style="width: <%= budget_used  %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
              <p style="position:absolute; padding-left:30%; top:-2px; font-size:15px;"><%= user[:expenses]  %>$/<%= user[:user].budget_per_month  %>$</p>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div class="notification-content" style="margin-right:0px; text-align: center;">
            <a class="profil-btn"> <%= link_to "Profil", team_packages_teams_path(params: { user_id: user[:user].id }) %></a>
          </div>
        </div>

    </div>
      <% end %>
    </div>
