<div class= "row">
<div class = col-6 >
  <div class= "login-framework" >
    <%= image_tag 'Sign-in-1'%>
  </div>
</div>
<div class = col-6>
<div class=col-1>
</div>
<div class=col-10>
<div class="form_container">

<h2 class= "sign-up-text">Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs form-text">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
<div class=col-1>
</div>
</div>


</div>