<div class= "row row-container">
  <%= render 'shared/lateral_menu' %>
  <div class= "index-list">

    <div class="flex-item ">
      <div class="package_title">
        <h3>Your Invoices:</h3>
        <div class="separator">
        </div>
      </div>

     <div class="flex-item ">

        <% @invoices.each do |invoice| %>
         <div class="user-card row align-items-center">
          <img src="https://source.unsplash.com/900x900/?face,people" class="avatar-large avatar-empty " />
            <div class="notification-content">
              <div class="container_details">
                <div class="box-details">
                  <h3 class="box-details"> <%= link_to invoice_path(invoice) do %> invoice number <%end%> </h3>
                </div>
                <div class="box-details">
                  <h3 class="box-details"><%= invoice.number%></h3>
                </div>
                <div class="box-details">
                  <h3 class="box-details">date</h3>
                </div>
                <div class="box-details">
                  <h3 class="box-details"><%= invoice.emission%></h3>
                </div>
                <div class="box-details">
                  <h3 class="box-details"><%= invoice.price%></h3>
                </div>
                <div class="box-details">
                  <h3 class="box-details"> Pending</h3>
                </div>
                </div>
              </div>
              </div>
            <%end%>



      </div>


  </div>
</div>
