<div class= "row row-container">
  <%= render 'shared/lateral_menu' %>
  <div class= "index-list">

    <div class="flex-item ">
      <div class="package_title">
        <h3>Your Invoices:</h3>
        <div class="separator">
        </div>
      </div>

     <div class="flex-item ">

        <% @invoices.each do |invoice| %>
         <div class="user-card row align-items-center">
          <img src="https://source.unsplash.com/900x900/?face,people" class="avatar-large avatar-empty " />
            <div class="notification-content">
              <div class="container_details">
                <div class="box-details">
                  <h3 class="align-right"> <%= link_to invoice_path(invoice) do %> invoice number <%end%> </h3>
                </div>
                <div class="box-details">
                  <h3 class="align-left"><span class ="color-gray"><%= invoice.number%></span></h3>
                </div>
                <div class="box-details">
                  <h3 class="align-right"><span class ="color-gray">date</span></h3>
                </div>
                <div class="box-details">
                  <h3 class="align-left"><span class ="color-gray"><%= invoice.emission%></span></h3>
                </div>
                <div class="box-details">
                  <h3 class="align-right"><span class ="color-gray"> <%= invoice.price%> € </span></h3>
                </div>
                <div class="box-details">

                </div>
                <div class="box-details">

                </div>
                <div class="box-details">
                  <h3 class="align-left"><span class ="color-gray">Pending</span></h3>
                </div>
              </div>

               </div>
              </div>
              </div>
          <%end%>





      </div>


  </div>
</div>
