<div class= "row row-container">
  <%= render 'shared/lateral_menu' %>
  <div class= "index-list ">

      <h2>Your're only a few steps away from your dream office!</h2>
      <h2>Rent it now!</h2>
      <%=simple_form_for [@booking] do |f|%>
          <%= f.input :delivery_date, start_year: Date.today.year %>
          <%= f.input :delivery_time %>
          <%= f.input :delivery_address %>
          <%= f.input :floor %>
          <%= f.input :building_elevator %>
          <%= f.input :external_elevator %>
          <%=f.submit "Confirm", class: "btn btn-primary my-3" %>
      <%end %>

  </div>
</div>
