
<div class= "row row-container">
  <%= render 'shared/lateral_menu' %>
  <div class= "index-list ">

    <div class= "text-center">
      <h1> Your bookings </h1>
      <p> All your bookings at a glance </p>
    </div>


<div class ="container">
  <h2> Add new booking here </h2>
  <%= link_to "Plan new delivery", new_booking_path, class: "btn btn-primary btn-delivery" %>

</div>

<div class="container">
  <% @bookings.each do |booking| %>
    <div class=delivery-card>
      <p class="next-delivery">Your next delivery</p>
      <div>
        <h2><%= booking.status %></h2>
      </div>
      <div>
        <h2><%= booking.delivery_date %></h2>
      </div>



        <%= link_to "Update", edit_booking_path(booking), class: "btn btn-primary btn-create" %>
        <%= link_to "Delete", booking_path(booking), method: :delete, class: "btn btn-primary btn-create" %>


      </div>

    <% end %>



