
<div class= "row row-container">

    <div class= "col-3">
      <div class= lateral_menu>

            <ul class= lateral_menu_list>
              <li><i class="fas fa-user-plus lateral-menu-logo"></i>Manage your team</li>
              <li><i class="fas fa-bars lateral-menu-logo"></i>Furnitures</li>
              <li><i class="fas fa-gift lateral-menu-logo"></i>My package</li>
              <li><i class="fas fa-truck lateral-menu-logo"></i>My deliveries</li>
              <li><i class="fas fa-wallet lateral-menu-logo"></i>My wallet</li>
              <li><i class="far fa-file-alt lateral-menu-logo"></i>Invoices</li>
            </ul>

            <ul class= lateral_menu_list>
              <li><i class="fas fa-user-cog lateral-menu-logo"></i>Settings</li>
            </ul>

      </div>
    </div>

<div class ="container">
    <div class= "text-center">
      <h1> Your bookings </h1>
      <p> All of your bookings at a glance </p>
</div>

<div class ="container">
  <h2> Add new booking here </h2>
  <%= link_to "Plan new delivery", new_booking_path(@booking), class: "btn btn-primary btn-delivery" %>

</div>

<div class="container">
  <% @bookings.each do |booking| %>
    <div class=delivery-card>
      <p class="next-delivery">Your next delivery</p>
      <div>
        <h2><%= booking.status %></h2>
      </div>
      <div>
        <h2><%= booking.delivery_date %></h2>
      </div>


        <%= link_to "Update", edit_booking_path(booking), class: "btn btn-primary btn-create" %>
        <%= link_to "Delete", booking_path(booking), method: :delete, class: "btn btn-primary btn-create" %>

      </div>
    </div>
  <% end %>
</div>






