
<div class= "row row-container">
  <%= render 'shared/lateral_menu' %>
  <div class= "index-list ">


    <div class="row">

        <div class="col-3">
          <% if current_user.status == "manager" %>
            <div class="top-box-packages align-items-center" >
              <div class="top-box-info-packages">
                <p>Rental period:</p>
                <h2><%= current_user.team.rental_period %>  months</h2>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-3">
          <div class="top-box-packages align-items-center">
            <div class="top-box-info-packages">
              <p>Items to deliver:</p>
              <h2><%= @total_items %></h2>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="top-box-packages align-items-center" >
            <div class="top-box-info-packages">
              <p>Check your package:</p>
              <%= link_to "My package", packages_path(user: current_user), class: 'check-your-package-button' %>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="top-box-packages-rental align-items-center" >
            <div class="top-box-info-packages">
              <p class= "text-box-delivery">Your delivery and istallation are for free</p>
            </div>
          </div>
        </div>

      </div>
      
      <div class="package_title flex-row d-flex justify-content-between align-items-center">
        <h3>Your deliveries list:</h3>
        <%= link_to "Plan your delivery", new_booking_path, class: 'btn btn-delivery' %>
      </div>


      <% @bookings.each do |booking| %>
          <div class="user-card row align-items-center" style= "margin-top: 40px">
            
            <div class="button-add-employee">
              <%= link_to new_user_invitation_path(params: { team_id:  current_user.team_id }), class: "team-icon" do %><i class="fas fa-truck"></i><% end %>
            </div>

            <div class="col-2">
              <div class="notification-content" style= "margin-left: 10%">
                <%= booking.status.capitalize %>
              </div>
            </div>

            <div class="col-3">
              <div class="notification-content">
                <p>Delivery date:</p>
                <% if booking.delivery_date.present? %>
                  <%= booking.delivery_date&.strftime('%A %e %B %Y') %>
                <% else %>
                  <%= booking.status.capitalize %>
                <% end %>
              </div>
            </div>

            <div class="col-3">
              <div class="notification-content">
                <p>Approximate delivery time:</p>
                <% if booking.delivery_time.present? %>
                  <%= booking.delivery_time&.strftime("%H:%M") %>
                <% else %>
                  <%= booking.status.capitalize %>
                <% end %>
              </div>
            </div>

            <div class="col-2">
              <div class= "double-buttons-delivery ">
                <p class= "d-flex justify-content-end"><%= link_to "Update", edit_booking_path(booking), class: "btn btn-create" %></p>
                <p class= "d-flex justify-content-end"><%= link_to "Delete", booking_path(booking), method: :delete, class: "btn btn-create" %></p>
              </div>
            </div>

        </div>
      <% end %>


  </div>
</div>


