
<div class= lateral_menu>

  <ul class= lateral_menu_list>
    <% if current_user.status == "manager" %>
      <li><%= link_to teams_path do %><i class="fas fa-user-plus lateral-menu-logo"></i> Manage your team <% end %> </li>
    <% end %>
    <li><%= link_to furnitures_path do %><i class="fas fa-bars lateral-menu-logo"></i> Furnitures <% end %> </li>
    <li><%= link_to team_packages_teams_path(params: { user_id: current_user.id }) do %><i class="fas fa-gift lateral-menu-logo"></i> My package <% end %> </li>
    <li><%= link_to bookings_path do %><i class="fas fa-truck lateral-menu-logo"></i> My deliveries <% end %> </li>

    <% if current_user.status == "manager" %>
      <li><i class="fas fa-wallet lateral-menu-logo"></i>My wallet</li>
      <li><%= link_to invoices_path do %><i class="far fa-file-alt lateral-menu-logo"></i>Invoices <% end %></li>
    <% end %>
  </ul>

  <ul class= lateral_menu_list>
      <li><%= link_to edit_user_registration_path do %><i class="fas fa-user-cog lateral-menu-logo"></i>Settings <% end %></li>
  </ul>

</div>
