
  <div class="d-flex" id="wrapper">
  <div class= "lateral_menu_list">
    <div class="border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">

        <% if current_user.status == "manager" %>
          <%= link_to teams_path, class: 'list-group-item list-group-item-action text-side' do %>
            <i class="fas fa-user-plus lateral-menu-logo"></i> <span class="text-side">Manage your team</span>
          <% end %>
        <% end %>
        <%= link_to furnitures_path, class: 'list-group-item list-group-item-action text-side' do %>
          <i class="fas fa-bars lateral-menu-logo "></i>
          <span class="text-side">Furnitures</span>
        <% end %>
        <%= link_to packages_path(user: current_user), class: 'list-group-item list-group-item-action text-side' do %>
        <i class="fas fa-gift lateral-menu-logo"></i> <span class="text-side">My package</span>
        <% end %>
        <%= link_to bookings_path, class: 'list-group-item list-group-item-action text-side' do %>
        <i class="fas fa-truck lateral-menu-logo"></i> <span class="text-side">My deliveries</span>
        <% end %>
        <% if current_user.status == "manager" %>
          <%= link_to packages_path, class: 'list-group-item list-group-item-action text-side' do %>
          <i class="fas fa-wallet lateral-menu-logo"></i> <span class="text-side">My wallet</span>
          <% end %>
          <% if current_user.team.invoices.first %>
            <%= link_to invoice_path(current_user.team.invoices.first), class: 'list-group-item list-group-item-action text-side' do %>
              <i class="far fa-file-alt lateral-menu-logo"></i> <span class="text-side"> Invoices</span>
            <% end %>
          <% end %>
        <% end %>
      </div>

            <div class="list-group list-group-flush settings-div">
        <%= link_to edit_user_registration_path, class: 'list-group-item list-group-item-action text-side' do %>
          <i class="fas fa-user-cog lateral-menu-logo"></i> <span class="text-side"> Settings </span>
        <% end %>
      </div>
    </div>
  </div>
</div>



