<Body style = "background-color: #FFFBF5">
</Body>
<div style= "background-color: #FAF0E1">
<div class="container-homepage-left">
  <div class = "row">
    
    <div class = "col-6 content-centered" >
      <h1> Rent furniture that's ready for business. </h1>
      <h2> Unleash your team's potential. </h2>
      <p> Let your team create the perfect home office, only for the time that suits your needs.</p>
      <p> Shipped and intalled for free directly to them. </p>
      <p> No fixed upfront investments, maximum flexibility, happy and productive team. </p>
      <div class= "button-homepage">
        <%= link_to "Discover the Giotto solution", dashboard_path %>
      </div>
    </div>
    
    <div class = col-6>
      <%= image_tag("D1-Chair-1.png") %>
    </div>

  </div>
</div>
</div>

<div class="container-homepage-right">
  <div class = "row">
    <div class = col-6>
      <%= image_tag 'Home-page-1.png'%>
    </div>
    <div class = "col-6 content-centered">
      <h1>The smartest solution for remote workers.</h1>
      <h2>Best design and ergonomics. Free delivery and installation. Flexible duration. No hassles.</h2>
      <p>We deliver directly to your team's member in less than 14 days and you have the possibility to extend or reduce your offer in every moment, in a few clicks.</p>
      <p>Discover more about all the Giotto services and how it can improve your remote team's productivity</p>
      <div class= "button-homepage">
        <%= link_to "HOW IT WORKS", "#"%>
      </div>
    </div>
  </div>
</div>

<div class="container-homepage-left">
  <div class = "row">
    <div class = "col-6 content-centered">
      <h1>The most sustainable way to consume furniture, a perfect circle!</h2>
      <h2>All the products are made with the highest quality materials in order to last and after every usage we refurbish them to further extend their life-cycle.</h2>
      <p>Discover more about the Giotto's atelier and how we select and refurbish our products</p>
      <div class= "button-homepage">  
        <%= link_to "OUR PERFECT CIRCLE", "#"%>
      </div>
    </div>
    <div class = col-6>
      <%= image_tag 'Home-page-2.png'%>
    </div>
  </div>
</div>

<div class="container-homepage-right">
  <div class = "row">
    <div class = col-6>
      <%= image_tag 'Home-page-3.png'%>
    </div>
    <div class = "col-6 content-centered">
      <h1>The best for your business.</h2>
      <h2>Avoid fixed upfront investments, make your team happier and more productive.</h2>
      <p>A unique platform to manage your remote team.</p>
      <div class= "button-homepage">
        <%= link_to "GIOTTO DASHBOARD", "#"%>
      </div>
    </div>
  </div>
</div>

<div style= "background-color: #FAF0E1">
  <div class="container-homepage-features">
    <h2>Supported by:</h2>
    <%= image_tag 'StationF-logo.png'%>
  </div>

<div style= "background-color: #FFFBF5">
  <div class="container-homepage-features">
    <h2>Featured in:</h2>
    <%= image_tag 'Bruzz-logo.png'%>
    <%= image_tag 'Brussels-times-logo.png'%>
    <%= image_tag 'Knack-logo.png'%>
  </div>
</div>


<div class= "row" style= "background-color: #FFFFFF">
    <div class = col-6>
      <div class= "review-card">
        <div class= "container-review">
          <div class= "row">
            <div class= 'image-review'>
              <%= image_tag 'Review-1.jpg'%>
            </div>
            <div>
            <h2>Han B.</h2>
            <p>Senior HR Manager at 212 Games</p>
            </div>
          </div>
          <div class= "review-box">
            <p>Giotto radically changed the way we manage our remote team, allowing them to work more comfortably and to be more productive. They helped us saving a lot of money in fixed assets and to mange the entire process very smoothly. Thank you!</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-6 content-centered">
      <h2>What they say about us</h2>
      <div class= "button-homepage">
        <%= link_to "See the reviews", "#"%>
      </div>
    </div>
</div>


<div class= "footer">
  <div class="container-homepage">
    <div class = "row">
      <div class = col-3>
        <h2>ABOUT US:</h2>
        <ul class= "footer-list">
          <li>The Giotto Circle</li>
          <li>The Furniture</li>
          <li>Meet the team</li>
          <li>Where to find us</li>
        </ul>
      </div>
      <div class = col-3>
        <h2>HELP:</h2>
        <ul class= "footer-list">
          <li>FAQs</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div class = col-6>
        <div>
          <h2>JOIN OUR NEWSLETTER</h2>
          <p>Only love, no spam</p>
        </div>
        <div>
          <h2>FOLLOW US</h2>
          <ul class= "footer-list-icon">
            <li><i class="social-icon fab fa-angellist"></i></li>
            <li><i class="social-icon fab fa-facebook-f"></i></li>
            <li><i class="social-icon fab fa-instagram"></i></li>
            <li><i class="social-icon fab fa-linkedin-in"></i></li>
            <li><i class="social-icon fab fa-pinterest-p"></i></li>
            <li><i class="social-icon fab fa-twitter"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
