<div class= "row row-container">


<%= render 'shared/lateral_menu' %>


  <div class= "index-list">

    <div class="row">
          
      <div class="col-3">
        <div class="top-box-packages-rental align-items-center" >
          <div class="top-box-info-packages">
            <p>Rental period:</p>
            <h2><%= current_user.team.rental_period %>  months</h2>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="top-box-packages align-items-center">
          <div class="top-box-info-packages">
            <p>Items in your package:</p>
            <h2><%= @total_items %></h2>
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="top-box-packages align-items-center" >
          <div class="top-box-info-packages">
            <p>Tot / month:</p>
            <h2>€<%= @total %></h2>
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="top-box-packages align-items-center">
          <div class="top-box-info-packages">
            <p>Available budget:</p>
            <h2>€<%= 100 - @total %></h2>
          </div>
        </div>
      </div>
      
    </div>

    <div class="flex-item ">

      <div class="package_title flex-row d-flex justify-content-between align-items-center" style= "margin-top: 40px">
        <h3>Categories:</h3>
        <%= link_to "See my package", packages_path, class: 'btn btn-primary btn-delivery' %>
      </div>
    <div class = "row">

      
      <div class= col-12>
        <div class="container-filter">
          <div class="card-product-small justify-content-left align-items-center">
            <div class="filter">
              <%= link_to furnitures_path(category: "") do %>
                <span> All </span>
              <% end %>
            </div>

            <div class="filter">
              <%= link_to furnitures_path(category: "Chairs") do %>
                <span> Chair </span>
              <% end %>
            </div>

            <div class="filter">
              <%= link_to furnitures_path(category: "Desks") do %>
                <span> Desk </span>
              <% end %>
            </div>

            <div class="filter">
              <%= link_to furnitures_path(category: "Lamps") do %>
                <span> Lamp </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>



      

    <div class="row">
      <% @furnitures.each do |furniture| %>
        <div class= col-4>
          <div class= "hover">
            <div class= "product-card-index">
              <%= link_to furniture_path(furniture) do %> <%= cl_image_tag furniture.photo, width: 266, height: 266, crop: :fit %> <% end %>
              <ul>
                <li class="product-title"><%= furniture.name %></li>
                <li class="product-price">from <%= humanized_money_with_symbol(furniture.price/24) %>/month</li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

