<div class= "row row-container">


<%= render 'shared/lateral_menu' %>


  <div class= "index-list">

    <div class="flex-item ">

    <div class = "row">
      
      <div class="container-filter">
        <div class="card-product-small justify-content-left align-items-center">
          <div class="filter">
            <%= link_to furnitures_path(category: "") do %>
              <span> All </span>
            <% end %>
          </div>

          <div class="filter">
            <%= link_to furnitures_path(category: "Chairs") do %>
              <span> Chair </span>
            <% end %>
          </div>

          <div class="filter">
            <%= link_to furnitures_path(category: "Desks") do %>
              <span> Desk </span>
            <% end %>
          </div>

          <div class="filter">
            <%= link_to furnitures_path(category: "Lamps") do %>
              <span> Lamp </span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="flex-row d-flex justify-content-around">
        <div class="card card-index-info align-items-center ">
          <div class="card-body top-card ">
            <p>Tot / month:</p>
            <h2 class="furniture-title item-product index-title ">0</h2>
          </div>
        </div>
      </div>

      <div class="flex-row d-flex justify-content-around">
        <div class="card card-index-info align-items-center ">
          <div class="card-body top-card ">
            <%= link_to "See my package", packages_path, class: "furniture-title item-product index-title" %> 
          </div>
        </div>
      </div>     
      <div class="flex-row d-flex justify-content-around">
        <div class="card card-index-info align-items-center ">
          <div class="card-body top-card ">
            <p>Choose a rental period</p> 
            <h2></h2>
          </div>
        </div>
      </div>     
     
    </div>

    <div class="row">
      <% @furnitures.each do |furniture| %>
        <div class="col-4 card">
          <div>
            <%= link_to furniture_path(furniture) do %> <%= cl_image_tag furniture.photo, width: 266, height: 266, crop: :fit %> <% end %>
          </div>
          <ul>
            <li><%= furniture.name %></li>
            <li>from <%= humanized_money_with_symbol(furniture.price/24) %>/month</li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>

