<div class= "row row-container">


<%= render 'shared/lateral_menu' %>


  <div class= "index-list">
     <div class="container-filter">
      <div class="card-product-small justify-content-left align-items-center">
        <div class="filter">
          <%= link_to furnitures_path(category: "") do %>
            <span> All </span>
          <% end %>
        </div>

        <div class="filter">
          <%= link_to furnitures_path(category: "Chairs") do %>
            <span> Chair </span>
          <% end %>
        </div>

    <div class="filter">
      <%= link_to furnitures_path(category: "Desks") do %>
        <span> Desk </span>
      <% end %>
    </div>

    <div class="filter">
      <%= link_to furnitures_path(category: "Lamps") do %>
        <span> Lamp </span>
      <% end %>
    </div>
      </div>
    </div>

    <div class="row">
      <% @furnitures.each do |furniture| %>
        <div class="col-4 card">
          <div>
            <%= link_to furniture_path(furniture) do %> <%= cl_image_tag furniture.photo, width: 266, height: 266, crop: :fit %> <% end %>
          </div>
          <ul>
            <li><%= furniture.name %></li>
            <li>from €<%= furniture.retail_price/24 %>/month</li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
                
</div>