<h1>Compose your package</h1>
<% @furnitures.each do |furniture| %>
  <ul>
    <li><%= furniture.name %></li>
    <li><%= furniture.description %></li>
    <li><%= furniture.retail_price %></li>
    <li><%= furniture.rental_price %></li>
    <li><%= furniture.category %></li>
  </ul>
<% end %>
