<div class="navbar-giotto">


    <div class='flex1'>
        <ul class='list-inline-left'>
          <li class='text-list-dashboard'>Dashboard</li>
          <li class='text-list-left'>About us</li>
        </ul>
    </div>

    <div class='flex1'>
      <div class='logo-container'>
        <%=image_tag 'logo.png'%>
      </div>
    </div>


    <div class='flex1'>
        <ul class='list-inline-right'>
          <li class='text-list-right'>Search</li>
          <li class='text-list-right'>Account</li>
        </ul>
    </div>

</div>

  <div class= "row row-container">

    <div class= "col-3">
      <div class= lateral_menu>
        
            <ul class= lateral_menu_list>
              <li><i class="fas fa-user-plus lateral-menu-logo"></i>Manage your team</li>
              <li><i class="fas fa-bars lateral-menu-logo"></i>Furnitures</li>
              <li><i class="fas fa-gift lateral-menu-logo"></i>My package</li>
              <li><i class="fas fa-truck lateral-menu-logo"></i>My deliveries</li>
              <li><i class="fas fa-wallet lateral-menu-logo"></i>My wallet</li>
              <li><i class="far fa-file-alt lateral-menu-logo"></i>Invoices</li>
            </ul>

            <ul class= lateral_menu_list>
              <li><i class="fas fa-user-cog lateral-menu-logo"></i>Settings</li>
            </ul>

      </div>
    </div>

    <div class= "col-9 index-list">
      <h1>Compose your package</h1>
      <% @furnitures.each do |furniture| %>
        <ul>
          <li><%= furniture.name %></li>
          <li><%= furniture.description %></li>
          <li><%= furniture.retail_price %></li>
          <li><%= furniture.rental_price %></li>
          <li><%= furniture.category %></li>
        </ul>
      <% end %>
    </div>


  </div>