<%= render 'shared/lateral_menu' %>
<div class='index-list'>

  <div style= "margin-top: 40px">
    <%= link_to "Return to furniture", furnitures_path, class: 'btn btn-primary btn-delivery'%>
  </div>
  <div class='card-show'>
    <div class= col-6>
    <ul class= "product-show-list">
      <li class="product-show-list-title"><%= @furniture.name %></li>
      <% @total = 0 %>
      <% @divide = 0 %>
      <% if current_user.team.rental_period == 1 %>
        <% @divide = 0.20 %>
      <% elsif current_user.team.rental_period == 2 %>
        <% @divide = 0.125 %>
      <% elsif current_user.team.rental_period == 3 %>
        <% @divide = 0.0933 %>
      <% elsif current_user.team.rental_period == 4 %>
        <% @divide = 0.0775 %>
      <% elsif current_user.team.rental_period == 5 %>
        <% @divide = 0.068 %>
      <% elsif current_user.team.rental_period == 6 %>
        <% @divide = 0.06 %>
      <% elsif current_user.team.rental_period == 7 %>
        <% @divide = 0.0543 %>
      <% elsif current_user.team.rental_period == 8 %>
        <% @divide = 0.0513 %>
      <% elsif current_user.team.rental_period == 9 %>
        <% @divide = 0.0489 %>
      <% elsif current_user.team.rental_period == 10 %>
        <% @divide = 0.047 %>
      <% elsif current_user.team.rental_period == 11 %>
        <% @divide = 0.0445 %>
      <% else %>
        <% @divide = 0.0417 %>
      <% end %>
      <li class="product-show-list-rentalprice">€<%= @furniture.price * @divide %>  /month</li>
      <li class="product-show-list-price">Original retail price: €<%= @furniture.price %></li>
      <li class="product-show-list-description"><%= @furniture.description %></li>
        <%= simple_form_for @package do |f| %>
        <%= f.input :furniture_id, as: :hidden, input_html: { value: @furniture.id } %>
        <%= f.input :number %>
        <div class= "submit-button-hover">
        <%= f.submit "Add to my package", class: "product-show-list-submit-button" %>
        </div>
      <% end %>
    </ul>
    </div>
    <div class= col-6>
    <div class="product-show-image">
      <!-- <img src="https://images.unsplash.com/photo-1590698933947-a202b069a861?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" style="width: 100%" alt=""> -->
      <%= cl_image_tag @furniture.photo , width: 400, height: 400, crop: :fit %>
    </div>
   </div>
  </div>
</div>
