<ul>
    <li><%= @furniture.name %></li>
    <li><%= @furniture.description %></li>
    <li><%= @furniture.retail_price %></li>
    <li><%= @furniture.rental_price %></li>
    <li><%= @furniture.category %></li>
        <%= simple_form_for Package.new do |f| %>
      <%= f.input :furniture_id, as: :hidden, input_html: { value: params[:id] } %>
      <%= f.input :number %>
      <%= f.submit %>

    <% end %>
  </ul>
