<ul>
    <li><%= @furniture.name %></li>
    <li><%= @furniture.description %></li>
    <li><%= @furniture.retail_price %></li>
    <li><%= @furniture.rental_price %></li>
    <li><%= @furniture.category %></li>
  </ul>